<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CustomerDb" value="Data Source=(local);Database=Customers;User Id=admin;Password=password;" />
    <add key="OrderDb" value="Data Source=(local);Database=Orders;User Id=admin;Password=password;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>